@font-face {font-family:BDLifelessGrotesk; src:url("fonts/BDLifelessGrotesk.ttf");}
@font-face {font-family:casmono; src:url("fonts/CascadiaMono-Regular.ttf");}
@font-face {font-family:courier; src:url("fonts/cour.ttf");}
@font-face {font-family:courierprime; src:url("fonts/CourierPrime-Regular.ttf");}
@font-face {font-family:dtb; src:url("fonts/dtb.ttf");}
@font-face {font-family:ere; font-weight: normal; src:url("fonts/ere.otf");}
@font-face {font-family:ere; font-weight: bold; src:url("fonts/Erewhon-Bold.pfb.ttf");}
@font-face {font-family:iom; src:url("fonts/iom.otf");}
@font-face {font-family:monolisa; src:url("fonts/Monolisa Font.ttf");}
@font-face {font-family:Neue Kaine Variable; src:url("fonts/Neue Kaine Variable.ttf");}
@font-face {font-family:Neue Regrade; font-weight: normal; src:url("fonts/Neue Regrade Medium.otf");}
@font-face {font-family:Neue Regrade; font-weight:bold;   src:url("fonts/Neue Regrade Bold.otf");}

@font-face {font-family:nhg;font-weight: normal;src:url("fonts/nhr.ttf");}
@font-face {font-family:nhg;font-weight:bold;  src:url("fonts/nhm.ttf");}

@font-face {font-family:sf-round; src:url("fonts/sf-round.otf");}
@font-face {font-family:sf_l; src:url("fonts/sf_l.otf");}
@font-face {font-family:sf; font-weight: normal; src:url("fonts/sf_r.otf");}
@font-face {font-family:sf; font-weight:bold;src: url("fonts/sf_b.otf");}


@font-face {font-family:sig; src:url("fonts/sig.otf");}
@font-face {font-family:sneak; src:url("fonts/sneak.ttf");}
@font-face {font-family:sohne; src:url("fonts/sohne.otf");}
@font-face {font-family:appletc; src:url("fonts/apple_tc.ttf");}
@font-face {font-family:diag; font-weight: normal; src:url("fonts/diag_r.ttf");}
@font-face {font-family:diag; font-weight: bold; src:url("fonts/diag_b.ttf");}

@font-face {font-family:chirp;  font-weight: normal; src:url("fonts/ChirpRegular.ttf");}
@font-face {font-family:chirp; font-weight: bold; src:url("fonts/ChirpMedium.ttf");}

/* @font-face {font-family:chirp_r; src:url("fonts/ChirpRegular.ttf");}
@font-face {font-family:chirp_m; src:url("fonts/ChirpMedium.ttf");} */

@font-face {font-family:humanbby; src:url("fonts/Human\ BBY\ Web.ttf");}
@font-face {font-family:geist; src:url("fonts/GeistVF.ttf");}
@font-face {font-family:fira; src:url("fonts/FiraSans-Regular.ttf");}
@font-face {font-family:firamono; src:url("fonts/FiraMono-Regular.ttf");}
@font-face {font-family:aptos; src:url("fonts/aptos.ttf")}
@font-face {font-family:bios; src:url("fonts/Px437_IBM_EGA_8x14.ttf")}
@font-face {font-family:vulf; src:url("fonts/VulfSans-Regular.ttf")}
@font-face {font-family:monaco; src:url("fonts/Monaco.ttf")}
@font-face {font-family:palo; src:url("fonts/Palo-Regular.ttf")}
@font-face {font-family:questa; src:url("fonts/Questa_Sans_Regular.otf")}
@font-face {font-family:fsk; src:url("fonts/FSKoopmanVF.woff2")}
@font-face {font-family:helvnow; src:url("fonts/HelveticaNowDisplay-Regular.otf")}
@font-face {font-family:segoe; src:url("fonts/Segoe\ Pro.ttf")}
@font-face {font-family:gtamerica; src:url("fonts/GT\ America\ Regular.ttf")}
@font-face {font-family:suisse; src:url("fonts/SuisseIntl-Regular.ttf")}
@font-face {font-family:made; src:url("fonts/MADE.otf")}
@font-face {font-family:georgia; font-weight: normal; src:url("fonts/georgia.ttf")}
@font-face {font-family:georgia; font-weight: bold; src:url("fonts/georgiab.ttf")}
@font-face {font-family:right; font-weight: normal; src:url("fonts/RightGrotesk-Medium.otf")}
@font-face {font-family:right; font-weight: bold; src:url("fonts/RightGrotesk-WideMedium.otf")}
@font-face {font-family:atlas; font-weight: normal; src:url("fonts/AtlasGrotesk-Regular.otf")}
@font-face {font-family:atlas; font-weight: bold; src:url("fonts/AtlasGrotesk-Medium.otf")}