@font-face {font-family:BDLifelessGrotesk; src:url("fonts/BDLifelessGrotesk.ttf");}
@font-face {font-family:CascadiaMono-Regular; src:url("fonts/CascadiaMono-Regular.ttf");}
@font-face {font-family:cour; src:url("fonts/cour.ttf");}
@font-face {font-family:CourierPrime-Regular; src:url("fonts/CourierPrime-Regular.ttf");}
@font-face {font-family:dtb; src:url("fonts/dtb.ttf");}
@font-face {font-family:ere; src:url("fonts/ere.otf");}
@font-face {font-family:Erewhon-Bold; src:url("fonts/Erewhon-Bold.pfb.ttf");}
@font-face {font-family:iom; src:url("fonts/iom.otf");}
@font-face {font-family:Monolisa Font; src:url("fonts/Monolisa Font.ttf");}
@font-face {font-family:Neue Kaine Variable; src:url("fonts/Neue Kaine Variable.ttf");}
@font-face {font-family:Neue Regrade Bold; src:url("fonts/Neue Regrade Bold.otf");}
@font-face {font-family:Neue Regrade Medium; src:url("fonts/Neue Regrade Medium.otf");}
@font-face {font-family:nhm; src:url("fonts/nhm.ttf");}
@font-face {font-family:nhr; src:url("fonts/nhr.ttf");}
@font-face {font-family:sf-round; src:url("fonts/sf-round.otf");}
@font-face {font-family:sf_b; src:url("fonts/sf_b.otf");}
@font-face {font-family:sf_l; src:url("fonts/sf_l.otf");}
@font-face {font-family:sf_r; src:url("fonts/sf_r.otf");}
@font-face {font-family:sig; src:url("fonts/sig.otf");}
@font-face {font-family:sneak; src:url("fonts/sneak.ttf");}
@font-face {font-family:sohne; src:url("fonts/sohne.otf");}
@font-face {font-family:appletc; src:url("fonts/apple_tc.ttf");}
@font-face {font-family:diag_r; src:url("fonts/diag_r.ttf");}
@font-face {font-family:diag_b; src:url("fonts/diag_b.ttf");}
@font-face {font-family:chirp_r; src:url("fonts/ChirpRegular.ttf");}
@font-face {font-family:chirp_m; src:url("fonts/ChirpMedium.ttf");}
@font-face {font-family:humanbby; src:url("fonts/Human\ BBY\ Web.ttf");}
@font-face {font-family:geist; src:url("fonts/GeistVF.ttf");}
@font-face {font-family:fira; src:url("fonts/FiraSans-Regular.ttf");}
@font-face {font-family:firamono; src:url("fonts/FiraMono-Regular.ttf");}
@font-face {font-family:aptos; src:url("fonts/aptos.ttf")}
@font-face {font-family:bios; src:url("fonts/Px437_IBM_EGA_8x14.ttf")}
@font-face {font-family:vulf; src:url("fonts/VulfSans-Regular.ttf")}
@font-face {font-family:monaco; src:url("fonts/Monaco.ttf")}
@font-face {font-family:palo; src:url("fonts/Palo-Regular.ttf")}
@font-face {font-family:questa; src:url("fonts/Questa_Sans_Regular.otf")}
@font-face {font-family:fsk; src:url("fonts/FSKoopmanVF.ttf")}
@font-face {font-family:helvnow; src:url("fonts/HelveticaNowDisplay-Regular.otf")}
@font-face {font-family:segoe; src:url("fonts/Segoe\ Pro.ttf")}
