@font-face {font-family:BDLifelessGrotesk; src:url("fonts/BDLifelessGrotesk.ttf");}
@font-face {font-family:casmono; src:url("fonts/CascadiaMono-Regular.ttf");}
@font-face {font-family:courier; src:url("fonts/cour.ttf");}
@font-face {font-family:courierprime; src:url("fonts/CourierPrime-Regular.ttf");}
@font-face {font-family:dtb; src:url("fonts/dtb.ttf");}
@font-face {font-family:ere; font-weight: normal; src:url("fonts/ere.otf");}
@font-face {font-family:ere; font-weight: bold; src:url("fonts/Erewhon-Bold.pfb.ttf");}
@font-face {font-family:iom; src:url("fonts/iom.otf");}
@font-face {font-family:monolisa; src:url("fonts/Monolisa Font.ttf");}
@font-face {font-family:Neue Kaine Variable; src:url("fonts/Neue Kaine Variable.ttf");}
@font-face {font-family:Neue Regrade; font-weight: normal; src:url("fonts/Neue Regrade Medium.otf");}
@font-face {font-family:Neue Regrade; font-weight:bold;   src:url("fonts/Neue Regrade Bold.otf");}

@font-face {font-family:nhg;font-weight: normal;src:url("fonts/nhr.ttf");}
@font-face {font-family:nhg;font-weight:bold;  src:url("fonts/nhm.ttf");}

@font-face {font-family:sf-round; src:url("fonts/sf-round.otf");}
@font-face {font-family:sf_l; src:url("fonts/sf_l.otf");}
@font-face {font-family:sf; font-weight: normal; src:url("fonts/sf_r.otf");}
@font-face {font-family:sf; font-weight:bold;src: url("fonts/sf_b.otf");}


@font-face {font-family:sig; src:url("fonts/sig.otf");}
@font-face {font-family:sneak; src:url("fonts/sneak.ttf");}
@font-face {font-family:sohne; src:url("fonts/sohne.otf");}
@font-face {font-family:appletc; src:url("fonts/apple_tc.ttf");}
@font-face {font-family:diag; font-weight: normal; src:url("fonts/diag_r.ttf");}
@font-face {font-family:diag; font-weight: bold; src:url("fonts/diag_b.ttf");}

@font-face {font-family:chirp;  font-weight: normal; src:url("fonts/ChirpRegular.ttf");}
@font-face {font-family:chirp; font-weight: bold; src:url("fonts/ChirpMedium.ttf");}

/* @font-face {font-family:chirp_r; src:url("fonts/ChirpRegular.ttf");}
@font-face {font-family:chirp_m; src:url("fonts/ChirpMedium.ttf");} */

@font-face {font-family:humanbby; src:url("fonts/Human\ BBY\ Web.ttf");}
@font-face {font-family:geist; src:url("fonts/GeistVF.ttf");}
@font-face {font-family:fira; src:url("fonts/FiraSans-Regular.ttf");}
@font-face {font-family:firamono; src:url("fonts/FiraMono-Regular.ttf");}
@font-face {font-family:aptos; src:url("fonts/aptos.ttf")}
@font-face {font-family:bios; src:url("fonts/Px437_IBM_EGA_8x14.ttf")}
@font-face {font-family:vulf; src:url("fonts/VulfSans-Regular.ttf")}
@font-face {font-family:monaco; src:url("fonts/Monaco.ttf")}
@font-face {font-family:palo; src:url("fonts/Palo-Regular.ttf")}
@font-face {font-family:questa; src:url("fonts/Questa_Sans_Regular.otf")}
@font-face {font-family:fsk; src:url("fonts/FSKoopmanVF.woff2")}
@font-face {font-family:helvnow; src:url("fonts/HelveticaNowDisplay-Regular.otf")}
@font-face {font-family:segoe; src:url("fonts/Segoe\ Pro.ttf")}
@font-face {font-family:gtamerica; src:url("fonts/GT\ America\ Regular.ttf")}
@font-face {font-family:suisse; src:url("fonts/SuisseIntl-Regular.ttf")}
@font-face {font-family:made; src:url("fonts/MADE.otf")}
@font-face {font-family:georgia; font-weight: normal; src:url("fonts/georgia.ttf")}
@font-face {font-family:georgia; font-weight: bold; src:url("fonts/georgiab.ttf")}
@font-face {font-family:right; font-weight: normal; src:url("fonts/RightGrotesk-Medium.otf")}
@font-face {font-family:right; font-weight: bold; src:url("fonts/RightGrotesk-WideMedium.otf")}
@font-face {font-family:atlas; font-weight: normal; src:url("fonts/AtlasGrotesk-Regular.otf")}
@font-face {font-family:atlas; font-weight: bold; src:url("fonts/AtlasGrotesk-Medium.otf")}
@font-face {font-family:passenger; font-weight: normal; src:url("fonts/PassengerSans-Regular-BF63eaffd178ad9.otf")}
@font-face {font-family:passenger; font-weight: bold; src:url("fonts/PassengerSans-Medium-BF63eaffd03cb6f.otf")}
@font-face {font-family:inter; src:url("fonts/InterVariable.woff2")}
@font-face {font-family:inter; src:url("fonts/InterVariable.woff2")}
@font-face {font-family:equinox; src:url("fonts/equinox.woff2")}
@font-face {font-family:scto; src:url("fonts/scto.woff2")}
@font-face {font-family:univ; src:url("fonts/UniversalSansDisplayGX.woff2")}
@font-face {font-family:haas; src:url("fonts/haas.woff")}
@font-face {font-family:goat; src:url("fonts/goat.woff2")}
@font-face {font-family:david; src:url("fonts/davidoff.woff")}
@font-face {font-family:mayo; font-weight: normal;src:url("fonts/MayoClinicSans-Regular.woff2")}
@font-face {font-family:mayo; font-weight: bold;src:url("fonts/MayoClinicSans-Bold.woff2")}
@font-face {font-family:akkurat; font-weight: regular;src:url("fonts/Akkurat-Regular.otf")}
@font-face {font-family:akkurat; font-weight: bold;src:url("fonts/Akkurat-Bold.otf")}
@font-face {font-family:karla; src:url("fonts/karla.woff2")}



@font-face {
  font-family: charles;
  src: url('fonts/CharlesModern-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: charles;
  src: url('fonts/CharlesModern-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: psu;
  src: url('fonts/psu.woff2');
}

/* open source: */


/* -------------------zilla------------------- */
/* latin-ext */
@font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CVHaZV3B3Taw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CVHaZWXB3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa4ZfeM_74wlPZtksIFaj8K8VSMZlE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa4ZfeM_74wlPZtksIFaj8K_1SM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CDHeZV3B3Taw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CDHeZWXB3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CIHCZV3B3Taw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CIHCZWXB3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CRHGZV3B3Taw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFanZfeM_74wlPZtksIFaj8CRHGZWXB3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYpEY6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYpEY6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajQ6_UyI.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajo6_Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYuUe6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYuUe6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYoEf6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'zilla';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYoEf6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
