

@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css);

.hScroll{
    display: flex; max-width: 100%; overflow-x:scroll;
}

.hScrollFaded{
    display: flex; max-width: 100%; overflow-x:scroll; position: relative;
    isolation: isolate;
}

.hScrollFaded:before{
    content: '\00a0\00a0\00a0\00a0';
    position: sticky;
    left: 0;
    height: 100%; 
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 100%); 
    width: 1rem;
}

.hScrollFaded:after{
    content: '\00a0\00a0\00a0\00a0';
    position: sticky;
    right: 0;
    height: 100%; 
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 100%); 
    width: 1rem;
}

/* accordion */
/* - general */
summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
display: none;
}


summary {
    list-style-type: none;
    cursor: pointer;
    display: flex;
}

details.line[open] > summary{
border-bottom: .5px solid lightgray;
padding-bottom: 5px;
margin-bottom: 5px;
}

summary.far {
    width: 100%;
    cursor: pointer;
}

details[open] > summary::before {
display: none;
}

summary::before,summary::after{
    font-family:'Bootstrap-icons';
    /* display: block; */
} 

details > summary::before, details > summary::after{
    display: inline-block;
    margin: auto auto auto 0;
    /* display: initial; */
    /* margin-bottom: 5px; */
}



details > summary.far::before, details > summary.far::after{
    font-family:'Bootstrap-icons';
    display: block;
    margin: auto 0 auto auto;
}

details > summary.narrow::after {
    content: '\00a0\F282';
}

details[open] > summary.narrow::after {
    content: '\00a0\F286';
}

details > summary.wide::after {
    content: '\00a0\F279';
}


details[open] > summary.wide::after {
    content: '\00a0\F27C';
}

details > summary.pm::after {
    content: '\F4FE';
    font-size: larger;
}


details[open] > summary.pm::after {
    content: '\F2EA';
    font-size: larger;
}

.note-g{
    --color: green;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-b{
    --color: dodgerblue;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-y{
    --color: gold;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-r{
    --color: red;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-e{
    --color: grey;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-k{
    --color: black;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-o{
    --color: orange;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-p{
    --color: pink;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}

.note-u{
    --color: purple;
    border-left: 5px solid var(--color);
    background-color: color-mix(in srgb, white 60%, var(--color) 40%);
    padding: 1rem;
}